@inherits LayoutComponentBase
<div class="page">

    <main>
      <div class="brand">
          <p class="brand-name">punyasloka.XYZ</p>
          <p class="brand-tag">Under development. <i><a href="https://github.com/bitsnorbytes/squirrel-esque">Github</a></i>.</p></div>
    </main>
</div>
